[submodule "EmbeddedMontiArc"]
	path = EmbeddedMontiArc
	url = https://github.com/EmbeddedMontiArc/EmbeddedMontiArc.git
	branch = master
[submodule "NumberUnit"]
	path = NumberUnit
	url = https://github.com/EmbeddedMontiArc/NumberUnit.git
	branch = master
[submodule "Struct"]
	path = Struct
	url = https://github.com/EmbeddedMontiArc/Struct.git
	branch = master
[submodule "languagescommon"]
	path = languagescommon
	url = https://github.com/EmbeddedMontiArc/languagescommon.git
	branch = master
[submodule "EMAM2Cpp"]
	path = EMAM2Cpp
	url = https://github.com/EmbeddedMontiArc/EMAM2Cpp.git
	branch = master
[submodule "EmbeddedMontiArcBehaviour"]
	path = EmbeddedMontiArcBehaviour
	url = https://github.com/EmbeddedMontiArc/EmbeddedMontiArcBehaviour.git
	branch = master
[submodule "EmbeddedMontiArcMath"]
	path = EmbeddedMontiArcMath
	url = https://github.com/EmbeddedMontiArc/EmbeddedMontiArcMath.git
	branch = master
[submodule "EMA2Kotlin"]
	path = EMA2Kotlin
	url = https://github.com/EmbeddedMontiArc/EMA2Kotlin.git
	branch = master
[submodule "MontiMath"]
	path = MontiMath
	url = https://github.com/EmbeddedMontiArc/MontiMath.git
	branch = master
[submodule "example-autopilot-ema"]
	path = example-autopilot-ema
	url = https://github.com/MontiSim/example-autopilot-ema.git
	branch = master
[submodule "visualization"]
	path = visualization
	url = https://github.com/MontiSim/visualization.git
	branch = master
[submodule "simulation"]
	path = simulation
	url = https://github.com/MontiSim/simulation.git
	branch = master
[submodule "controller"]
	path = controller
	url = https://github.com/MontiSim/controller.git
	branch = master
[submodule "commons"]
	path = commons
	url = https://github.com/MontiSim/commons.git
	branch = master
[submodule "autopilot-integration"]
	path = autopilot-integration
	url = https://github.com/MontiSim/autopilot-integration.git
	branch = master
[submodule "example-autopilot-emam"]
	path = example-autopilot-emam
	url = https://github.com/MontiSim/example-autopilot-emam.git
	branch = master
